.HomePage {
  /* border: 1px solid #fff; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  .topContainer {
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding-bottom: 10vw;
    .containerOne {
      /* border: 1px solid #fff; */
      width: 50vw;
    }
    .containerTwo {
      width: 45vw;
    }
  }
  .headingTxt {
    /* border: 1px solid #fff; */
    width: 90vw;
    padding-bottom: 10vw;
  }
  .startBtn {
    /* border: 1px solid #fff; */
  }
}
